body{
    font-family: 'Poppins', sans-serif;
}
section {
    height: 500px;
    background-color: white;

    

}
.hero {
    height: 100vh;
    background-color: #909dd8ad;
    color: white;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between  ;
}
ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display: block;
}

li {
    
    text-decoration: none;
}
h1 {
    font-size: 80px;
    margin: 0;
    font-weight: 500;

}
h2 {
    font-size: 50px;
}
p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}
.subtext {
    font-size: 15px;
    font-weight: 300;
}
.hero-text {
    margin-left: 80px;
    margin-bottom: 250px;
}
.button {
    width: 200px;
    height: 55px;
    background-color: coral;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}
.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
.button:hover {
    background-color: #ef744b;

}
.button:active{
    background-color: #a9a9a9;
    color: #808080
}

.socials {
    padding-bottom: 200px;
}

.logo{
    height: 80px;
    margin: 30px;
}
.social {
    margin: 20px;
}
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}
.headshot {
    width: 350px;
    border-radius: 150px;
}
.headshot-container {
    display: flex;
    align-items: center;
}
.project-card {
    width: 300px;
    box-shadow: 5px 5px 20px rgb(206, 189, 189);
    margin: 0px;
    
}
.project-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
@media only screen and (max-width: 1000px) {
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
    .form-control {
    width: 80%;
}
}
.project-image {
    margin-top: 25px;
    width: 300px;
    border-radius: 10px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}
.project-link {
    text-decoration: none;
    color: #ef744b;
}
a {
    text-decoration: none;
    color: white;
}
.hamburger {
    display: none;
}
.hamburger:focus{
    outline: 0;
}
@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
}
    .ul {
    display: none;
    background-color: #a1afee8d;
    margin: 0px;
}
    ul.show {
    display: block;
}

    nav {
        
        display: flex;
        flex-direction: column-reverse;
        background-color: #a1afee8d;
    }

    .logo {
        display: none;
    }
    footer {
        height: 500px;
        color: rgb(11, 9, 9);
        text-align: center;
        padding: 50px;
    }
    .footer-bottom {
        margin-top: 500px;
        display: flex;
        justify-content: center;
    }
    .information p {
        margin: 80px;
        text-align: justify;
        text-justify: inter-word;
        font-size: 5px;
   }
   
}
.footer-bottom {
    height: 100px;
    text-align: center;
}
h3 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
  }
.information p {
    margin-right: 25px;
}
.sub-section-alternative h2 {
    margin-top: 200px;
}
.sub-section-alternative {
    margin-top: 100px;
}
.form-control {
    width: 60%;
}
.col-name {
    height: 2.5vh;
}